{% from "_section.html.j2" import section_heading %}
{{ section_heading(report, "env") -}}
<dl class="kv">
  {% for entry in report.environment %}
  <dt>{{ entry.key }}</dt>
  <dd>{{ entry.value }}</dd>
  {% endfor %}
</dl>
